/* Estilo do site  */

/* Inicio css Menu */
body, ul {
    margin: 0px;
    padding: 0px;
}
#menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}
#menu a:hover {
    background: white;
    font-size: 19px;
}
#logo {
    font-size: 1.5rem;
}
#logo img {
    height: 60px;
}
#logo img:hover {
    box-shadow: 2px 2px 4px #dbdacae5;
    transition: 0.3s;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 3px 3px 6px #acaa9ae5;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/* Fim css Menu */


/* Inicio Carousel */
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px #acaa9ae5;
}
/* Fim Carousel */



/* Para aplicar estilos no CLASS> utilize o ponto (.)  antes do objeto */
/* Para aplicar estilos no ID> utilize o ponto (#)  antes do objeto */



/* Inicio Banner */
.section-banner-home {
    width: 100%;
    height: 700px;
    margin-top: 10px;
    padding: 50px;
    background-color: #ebe9dd;
    box-shadow: 3px 3px 6px #acaa9ae5;
}
.section-banner-home img {
    max-height: 600px;
    width: 70%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 90%;  
    font-weight: 500;
    padding-bottom: 20px;
    color: black;
}
.section-banner-home .texto-banner p {
    font-size:  15px;
    margin-bottom: 20px;
    color: black;
    text-align: justify;
}
.section-banner-home .texto-banner a {
    color: black;
    text-decoration: none;
    background-color: #dad8e6;
    padding: 4px 14px;
    font-size: 15px;
    transition: 0.3s;
}
.section-banner-home .texto-banner a:hover {
    color: #919191;
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 16px;
    font-weight: bold;
}
/* Fim Banner */


/* Inicio estilo destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.destaque #Saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background: #dad8e6;
    margin: 30px 0px;
    width: 25%;
}
.destaque .col-6 img:hover {
    box-shadow: 4px 4px 6px #acaa9ae5;
    transition: 0.3s;
}
/* Fim estilo destaque */


/* Inicio estilo novidades */
.novidades .texto-body {
    width: 80%;
    margin: 70px auto;
}
.novidades p {
    color: #000;
}
.novidades a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background: #dad8e6;
    margin: 30px 0px;
    width: 25%;
}
/* Fim estilo novidades */


/* Inicio estilo galeria */
.galeria {
    margin: 60px auto 20px;      /* os 4 valores no margin = top / right / botton / left > Ex:60px , 60px , 60px , 60px */
}
.galeria .container {
    margin-left: 11%;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
    width: 80%;
    height: 80%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 10px #919191;
}
/* Fim estilo galeria */